<form class="showcase-layout-form-grid" [formGroup]="searchForm">
	<!-- Year -->
	<div>
		<mat-form-field>
			<mat-label>Year</mat-label>
			<input type="text" matInput formControlName="year" [matAutocomplete]="yearAutocomplete" />
		</mat-form-field>
		<mat-autocomplete #yearAutocomplete="matAutocomplete">
			<mat-option *ngFor="let option of yearOptions; trackBy: trackItemFn" [value]="option">{{ option }}</mat-option>
		</mat-autocomplete>
	</div>
	<!-- Hero -->
	<div>
		<mat-form-field>
			<mat-label>Hero</mat-label>
			<input type="text" matInput formControlName="hero" [matAutocomplete]="heroAutocomplete" />
		</mat-form-field>
		<mat-autocomplete #heroAutocomplete="matAutocomplete">
			<mat-option *ngFor="let option of heroOptions; trackBy: trackItemFn" [value]="option">{{ option }}</mat-option>
		</mat-autocomplete>
	</div>

	<!-- Hero -->
	<div>
		<mat-form-field>
			<mat-label>Movie</mat-label>
			<input type="text" matInput formControlName="movie" [matAutocomplete]="movieAutocomplete" />
		</mat-form-field>
		<mat-autocomplete #movieAutocomplete="matAutocomplete">
			<mat-option *ngFor="let option of movieOptions; trackBy: trackItemFn" [value]="option">{{ option }}</mat-option>
		</mat-autocomplete>
	</div>
</form>
