@mixin stark-button() {
  .mdc-button,
  .mat-mdc-button.mat-mdc-button-base,
  .mat-mdc-icon-button.mat-mdc-button-base,
  .mat-mdc-outlined-button.mat-mdc-button-base,
  .mat-mdc-unelevated-button.mat-mdc-button-base,
  .mat-mdc-raised-button.mat-mdc-button-base,
  .mat-mdc-fab.mat-mdc-button-base,
  .mat-mdc-mini-fab.mat-mdc-button-base {
    text-transform: uppercase;
  }

  .mat-mdc-icon-button.mat-mdc-button-base {
    --mdc-icon-button-state-layer-size: 40px;
    --mat-icon-button-state-layer-size: 40px;
    --mat-icon-button-touch-target-size: 40px;

    width: 40px;
    height: 40px;
    padding: 8px;
  }
}
