/* ============================================================================== */
/*  S t a r k   A p p   M e n u                                                */
/* ============================================================================== */
/* stark-ui: src/modules/app-menu/components/app-menu/_app-menu.component.scss */

@use "sass:map";
@use "@angular/material" as mat;

@mixin stark-app-menu($material-theme-config, $stark-theme-config) {
  $primary-palette: map.get($material-theme-config, primary);
  $typography-config: map.get($material-theme-config, typography);

  .stark-app-menu {
    section {
      border-bottom: 1px solid #ddd;
      padding: 40px 0;

      &:last-child {
        border-bottom: none;
      }
    }

    .mat-mdc-nav-list {
      .mat-mdc-list-item {
        font-size: mat.m2-font-size($typography-config, button);
        font-weight: mat.m2-font-weight($typography-config, button);
        height: 42px;
        line-height: mat.m2-line-height($typography-config, button);

        .mdc-list-item__content {
          display: flex;
          align-items: center;
          width: 100%;
          box-sizing: border-box;
        }

        .mat-mdc-list-item-title {
          flex: 1 1 auto;
          min-width: 0;
        }

        .mat-mdc-list-item-unscoped-content {
          display: flex;
          flex: 0 0 auto;
          align-items: center;
          margin-left: auto;
        }

        &.active {
          .mat-mdc-list-item-title {
            font-weight: bold;
            color: mat.m2-get-color-from-palette($primary-palette, 500);
          }
        }

        @for $i from 2 through 3 {
          &.stark-app-menu-item-level-#{$i} .mdc-list-item__content {
            padding-inline-start: #{$i * 20 - 20}px;
          }
        }
      }
    }

    .mat-mdc-nav-list {
      padding-top: 0;
    }

    .stark-section-title {
      padding: 0 16px;
    }
  }
}

/* END stark-ui: src/modules/dropdown/components/app-menu/_app-menu.component.scss */
