/* ============================================================================== */
/*  S t a r k   R o u t e 	 S e a r c h                                           */
/* ============================================================================== */
/* stark-ui: src/modules/route-search/components/route-search.component.scss */
@use "../../../../styles/media-queries" as *;

@mixin stark-route-search() {
  .search-button {
    height: 40px;
  }

  .route-search-left {
    flex-direction: row-reverse;
    display: inline-flex;
    height: 40px;
    vertical-align: bottom;
  }

  .route-search-right {
    flex-direction: row;
    display: inline-flex;
    height: 40px;
    vertical-align: bottom;
  }

  .route-search-input-wrapper {
    &.hide {
      display: none;
    }

    .search-field {
      .mat-mdc-floating-label {
        font-size: 15px;
      }

      .mat-mdc-text-field-wrapper {
        margin-left: 5px;
        margin-right: 5px;
        width: 210px;
        border-radius: 10px;
        height: 40px;
        padding-bottom: 0;

        .mat-mdc-floating-label {
          line-height: 19px;
        }
      }

      .mat-mdc-input-element {
        width: 200px;
      }

      .mat-mdc-form-field-infix {
        border: 0;
        min-height: 40px;
        text-indent: 5px;
        margin-top: 4px;
      }

      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }

      .mdc-line-ripple {
        display: none;
      }
    }
  }

  @media #{$mobile-only-query} {
    .search-field {
      .mat-mdc-text-field-wrapper {
        margin-left: 5px;
        margin-right: 5px;
        width: 140px;
        border-radius: 10px;
        height: 40px;
        padding-bottom: 0;
      }

      .mat-mdc-floating-label {
        font-size: 15px;
      }

      .mat-mdc-input-element {
        width: 130px;
      }

      .mat-mdc-form-field-infix {
        border: 0;
        min-height: 40px;
        text-indent: 5px;
        margin-top: 4px;
      }

      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }

      .mdc-line-ripple {
        display: none;
      }
    }
  }
}

/* END stark-ui: src/modules/route-search/components/route-search.component.scss */
