@mixin stark-toast-notification() {
  .stark-toast-notification-panel.mat-mdc-snack-bar-container {
    margin: 8px !important;
    padding: 0 !important;

    .mdc-snackbar__surface {
      min-width: 344px;
      max-width: 422.4px;
      padding: 0;
    }

    .mat-mdc-snack-bar-label {
      padding: 0;
    }
  }

  .stark-toast {
    box-sizing: content-box;
    width: auto;
    min-width: 0;
    min-height: 0;
    display: flex;
    white-space: normal;
    align-items: center;
    padding: 6px 16px 6px 16px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 26px;

    span {
      line-height: 24px;
      margin: 6px;
    }

    mat-icon {
      margin: 6px;
      min-width: 24px;
      width: 24px;
      min-height: 24px;
      height: 24px;
    }

    .stark-toast-action {
      --mat-button-text-container-height: 36px;
      --mat-button-text-label-text-color: rgba(255, 255, 255, 0.7);
      float: none;
      margin: 0;
      padding: 0;

      .mdc-button__label {
        transform: translateX(7px);
      }
    }

    .stark-toast-text {
      flex: 1 1 auto;
    }
  }
}
