@use "@angular/material" as mat;

.layout-demo {
  > * {
    text-align: center;
    padding: 10px;

    background-color: mat.m2-get-color-from-palette($primary-palette, 500);
    color: mat.m2-get-contrast-color-from-palette($primary-palette, 500);

    &.accent {
      background-color: mat.m2-get-color-from-palette($accent-palette, 500);
      color: mat.m2-get-contrast-color-from-palette($accent-palette, 500);
    }
  }
}
