/* ============================================================================== */
/*  S t a r k   C o n f i r m   D i a l o g                                       */
/* ============================================================================== */
/* stark-ui: src/modules/dialogs/components/confirm-dialog.component.scss */

@use "sass:color";
@use "sass:map";
@use "@angular/material" as mat;

@mixin stark-confirm-dialog-theme($material-theme-config, $stark-theme-config) {
  $primary-palette: map.get($material-theme-config, primary);

  .stark-confirm-dialog {
    --stark-dialog-focused-button-color: #{color.mix(#000, mat.m2-get-color-from-palette($primary-palette, 500), 12.5%)};

    .button-ok {
      --mat-button-protected-container-color: #{mat.m2-get-color-from-palette($primary-palette, 500)};
      --mat-button-protected-label-text-color: #{mat.m2-get-contrast-color-from-palette($primary-palette, 500)};
      --mat-button-protected-ripple-color: #{mat.m2-get-contrast-color-from-palette($primary-palette, 500)};
      --mat-button-protected-state-layer-color: #{mat.m2-get-contrast-color-from-palette($primary-palette, 500)};

      background-color: mat.m2-get-color-from-palette($primary-palette, 500);
      color: mat.m2-get-contrast-color-from-palette($primary-palette, 500);
    }
  }
}
