/* creating a new dark theme color */
@use "@angular/material" as mat;
@use "@angular/material/core/m2" as mat-m2;

.stark-message-pane {
  &.dark {
    @include stark-message-pane-color(mat.m2-get-color-from-palette($grey-palette, A100));

    .inner {
      background-color: mat.m2-get-color-from-palette(mat-m2.$dark-theme-background-palette, background);
    }

    .errors > mat-icon {
      fill: mat.m2-get-color-from-palette($alert-palette, 500);
    }

    .warnings > mat-icon {
      fill: mat.m2-get-color-from-palette($warning-palette, 500);
    }

    .infos > mat-icon {
      fill: mat.m2-get-color-from-palette($primary-palette, 500);
    }
  }
}
