.styleguide-layout-page {
  > p {
    min-height: 48px;
  }

  .warning {
    margin-bottom: 24px;
    font-weight: bold;

    .mat-icon > svg {
      margin-bottom: -5px;
    }
  }

  .layout-demo > * {
    text-align: center;
    padding: 10px;
  }

  .showcase-layout-demo-flex > .accent {
    flex-grow: 0;
  }
}
