.app-card mat-form-field.maximum-height {
  .mat-mdc-text-field-wrapper {
    padding-bottom: 40px;

    .mdc-line-ripple {
      bottom: 40px;
    }

    + .mat-mdc-form-field-subscript-wrapper {
      top: calc(100% - 40px);
    }
  }
}

.validation-summary {
  .translated-form-error div::before {
    content: "• ";
  }
}
