@use "sass:map";
@use "@angular/material" as mat;
@use "@angular/material/core/m2" as mat-m2;
@use "@nationalbankbelgium/stark-ui" as stark-ui;

example-viewer {
  .example-viewer-wrapper {
    background-color: #fff;

    .stark-pretty-print {
      pre[class*="language-"] {
        padding: 1em;
        margin: 0;
        border-radius: 0;
      }
    }

    .mat-mdc-tab-body-wrapper {
      border-bottom: 1px solid #555;
    }
  }

  .mat-mdc-tab-header {
    background-color: mat.m2-get-color-from-palette(mat-m2.$light-theme-background-palette, card);
  }

  .mat-mdc-tab-body {
    background-color: stark-ui.$custom-dark-background;
  }

  .example-source {
    border-bottom: 1px solid mat.m2-get-color-from-palette(mat-m2.$light-theme-background-palette, divider);
    overflow-x: scroll;

    code {
      font-family: mat.m2-font-family(stark-ui.$typography-config);
      font-size: 15px;
      line-height: 24px;
    }
  }
}
