:host {
  display: block;
}

.example-viewer__title {
  display: flex;
  align-items: center;
  width: 100%;
}

.example-viewer__title-text {
  flex: 1 1 auto;
  margin: 0;
}

.stark-card {
  .example-source-wrapper {
    margin-bottom: 16px;
    margin-top: -16px;
  }
}

@media (min-width: 600px) {
  .stark-card {
    .example-source-wrapper {
      margin-top: -24px;
    }
  }
}
